<table>
  <% recruit.recruit_comments.each do |comment| %>
    <% recruit_comment_user = comment.user %>
    <tr>
    	<td>
    		<%= link_to profile_user_path(recruit_comment_user), class: "user_#{recruit_comment_user.id}" do %>
      		<%= attachment_image_tag recruit_comment_user, :icon_image, :fill, 50, 50, fallback: "no-icon.png", size: "50x50" %><br>
      		<%= recruit_comment_user.nickname %>
    		<% end %>
    	</td>
    	<td><%= comment.comment %></td>
    	<% if current_user == recruit_comment_user %>
      	<td><%= link_to 'Destroy', recruit_recruit_comment_path(recruit.title, comment.id), method: :delete, remote: true %></td>
    	<% end %>
    </tr>
  <% end %>
</table>