<div>
  <span>
    <% visitor = notification.visitor %>
    <%= link_to profile_user_path(visitor) do %>
      <%= attachment_image_tag visitor, :icon_image, :fill, 40, 40, fallback: "person-circle-outline.svg", size:"40x40", class: "rounded-circle bd-placeholder-img align-self-center mx-3"%>
    <% end %>
    <%= notification_form(notification) %>
    <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    <br>
    <% if !@comment.nil? %>
      <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
    <% end %>
    <hr>
  </span>
</div>