<style>
  .recruit_post_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main_area {
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
</style>


<%= form_with model: recruit, local:true do |f| %>
  <div class="recruit_post_wrapper">
    <div class="main_area">
      <div class="form-group">
        <%= f.label :GM, "GM" %>
        <%= current_user.nickname %>
      </div>

      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <%= f.label :image, "画像" %>
        <%= f.attachment_field :image, class: "form-control-file" %>
      </div>

      <div class="form-group">
        <%= f.label :hold_datetime, "日時選択" %>
        <%= f.datetime_field :hold_datetime %>
      </div>

      <div class="form-group">
        <%= f.label :capacity, "定員" %>
        <%= f.select :capacity, options_for_select(1..20, {selected: recruit.capacity}),{ include_blank: '定員を選択してください'} %>
      </div>

      <div class="form-group">
        <%= f.label :discord_server_link, "Discordサーバーリンク" %>
        <%= f.text_field :discord_server_link %>
      </div>

      <div class="form-group">
        <%= f.label :explanation, "説明" %>
        <%= f.text_area :explanation, placeholder: "ここに説明文を記述します" %>
      </div>
    </div>
    <div class="select_area">
      <div class="form-group">
        <%= f.label :play_form_ids, "プレイ形態" %>
        <%= f.collection_check_boxes(:play_form_ids, @play_forms, :id, :name) do |b| %>
          <%= b.label {b.check_box + b.text} %><br>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :参加条件 %>
        <%= f.collection_check_boxes(:entry_condition_ids, @entry_conditions, :id, :name) do |b| %>
          <%= b.label {b.check_box + b.text} %><br>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.submit recruit.persisted? ? '変更内容を保存' : '登録', class: "btn" %>
<% end %>
