<div class="navigation">
  <ul class="side_menu">
    <li class="side_menu__list">
      <%= link_to home_path do %>
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">ホーム</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to profile_user_path(current_user) do %>
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="title">プロフィール</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to recruits_path do %>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 617.27 494.09">
            <g id="レイヤー_2" data-name="レイヤー 2">
              <g id="レイヤー_1-2" data-name="レイヤー 1">
                <path d="M211.53,494.09c-5-.34-10-.66-15-1-7.37-.53-14.78-.82-22.11-1.73-7.91-1-12.7-8.6-11.79-17.37a150.35,
                  150.35,0,0,1,13.66-48.67c8.81-18.8,18.93-36.89,28.35-55.36,3.48-6.81,6.59-13.82,9.84-20.76a9.42,9.42,0,0,0,
                  .35-2c-7.88-.47-15.49-1-23.11-1.37-9.57-.53-18.87-2.92-26.09-9.59C151,322.68,147.69,306.91,156.39,288c3.63-7.86,
                  3.72-7.82-2.43-15.18-5.32,8.48-10.72,16.74-15.77,25.23-4.64,7.82-9,15.85-13.3,23.88-3,5.59-7.54,8.48-13.37,
                  8.44q-41.26-.28-82.53-1c-7.24-.12-14.9-.95-17.06-10.27a38.07,38.07,0,0,1-.08-14.51c4.61-27.12,15.32-51.63,
                  28.49-75.1,7.26-12.92,13.92-26.22,20.81-39.38.86-1.66,1.42-3.5,2.31-5.76-7.29-.42-14.21-.39-21-1.34a100.23,
                  100.23,0,0,1-19.9-4.48c-16.13-5.75-30-29.24-18-53,6.82-13.59,17.73-22.5,29.72-30.11C51.64,84.4,70.9,78.07,90,
                  71.56c5.8-2,8.75-4.45,9-11.45.28-6.76,2.2-13.48,3.68-20.16C108.19,15.25,131.2,2.24,147,
                  .47c20.39-2.27,37.57,5.26,50.89,22.05,6.06,7.64,8,17.31,10,26.78a97.34,97.34,0,0,1,1.79,13.29c.29,4.2,1.78,6.41,5.74,
                  7.89,16,6,32.07,12.1,47.79,19a94.19,94.19,0,0,1,33.17,24.59c6,6.84,9.63,14.9,11.51,24.59.74-.93,1.24-1.27,1.33-1.71,
                  3.37-17.13,14.35-28,27.07-37.21C351.63,88.65,368.8,82,386.19,75.83c5.56-2,11.06-4.13,16.66-6,2.86-.92,3.7-2.75,4.19-5.77,
                  1.49-9.24,2.56-18.71,5.33-27.54,6.89-21.92,23-32.86,43.2-35.93s37.54,5.1,50.85,21.9c6.06,7.64,8,17.31,10,26.79a114.66,
                  114.66,0,0,1,1.84,13.73c.33,3.8,1.67,5.92,5.31,7.3C539.74,76.45,556,82.44,571.76,89.5c14.84,6.64,28.42,16,37.51,30.6,
                  12,19.18,11,37.13-6,53.17-7.77,7.32-17.85,9.45-28.11,9.94-7.06.33-14.12.76-21.88,1.19,2.61,5.79,4.72,11.31,7.48,16.43,
                  7.1,13.22,14.79,26.07,21.68,39.4C592.63,260,601,280.7,604.88,303.12a45.18,45.18,0,0,1,.4,15c-1.07,6.13-5,10.21-11.35,
                  10.6-9.19.56-18.38,1.6-27.58,1.71-19.83.25-39.67,0-59.5,0-7.08,0-11.86-3.27-15.59-9.9-8.71-15.49-18-30.58-27.11-45.83a19.15,19.15,0,0,0-1.64-2c-2.48,3.91-5,7.49-7,11.34-.56,1.05-.19,3.09.37,4.37,8.37,19.15,4.67,34.48-9.37,47.54-7.22,6.72-16.47,9.18-26,9.75l-23.6,1.4a42.23,42.23,0,0,0,2,5.5c8.58,16.25,17.25,32.45,25.85,48.69,10.66,20.12,19,41.23,23.4,64,.34,1.75.52,3.54.77,5.31,1.93,13.85-3.22,20.74-16.16,21.45-9.07.49-18.14.83-27.21,1.29a43.49,43.49,0,0,0-4.51.69h-28.5c-7.78-.33-15.56-.77-23.34-.94-6.26-.14-10.88-2.83-14.05-8.71-4.46-8.27-9-16.51-13.76-24.56s-10-16.05-15.24-24.34c-1,1.45-1.79,2.34-2.38,3.34-8.74,14.73-17.66,29.34-26.1,44.27-3.78,6.68-8.56,10.09-15.91,10.05s-15,.57-22.5.89Zm218.7-20.56c-.5-3.17-.71-5.07-1.1-6.92-4.32-20.27-12-39.12-21.7-57-10.32-19-21.95-37.17-29.38-57.81a28.47,28.47,0,0,1-2.08-8.13c-.47-9.83,8-17.15,18.69-17.18a261.41,261.41,0,0,0,28-1.24c13.82-1.52,23.48-13.19,16-28.37a17.93,17.93,0,0,0-3.68-5.4c-6-5.36-11.77-11.08-18.3-15.55-13-8.91-27.82-13.67-42.33-19-6.86-2.51-13.74-5-20.41-8-5.86-2.63-9.74-7.19-10.27-14.54a117,117,0,0,0-2.21-16.84c-1.74-7.94-2.81-16.4-8.68-22.45-9-9.31-20-14.13-32.4-11.63-13.54,2.73-24.69,9.82-27.9,25.87-1.57,7.87-3.16,15.78-4,23.76-.74,7.28-3.76,12.35-9.76,15.5a66.16,66.16,0,0,1-6.55,2.94c-15.8,6.28-31.75,12.16-47.38,18.92a77.5,77.5,0,0,0-27.64,20.62c-4.71,5.4-7.57,11.84-6.16,19.06,1.7,8.67,7.89,13.52,15.77,14.55,9.67,1.26,19.5,2.2,29.19,1.76,15.05-.68,24.05,11.28,17.65,25.7-6.69,15.09-13.89,30-22,44.27-10.48,18.48-19.56,37.56-25.94,58.05-1.82,5.82-2.8,11.94-4.15,17.87a11.44,11.44,0,0,0,1.79.5c25.14.17,50.28.37,75.42.34,1.34,0,3.09-1.72,4-3.13,10-16.41,19.73-33,29.72-49.37a15.88,15.88,0,0,1,27,0q14.86,24.42,29.38,49.08c1.54,2.62,3.16,3.61,6,3.6,17-.07,34.09.06,51.13.11C413.8,473.55,421.61,473.53,430.23,473.53ZM587.05,310.8c-.54-3.23-.77-5.15-1.18-7-4.65-21.27-12.74-41-23.18-59.71-10-17.94-20.81-35.43-27.92-55.06a30.17,30.17,0,0,1-2-7.25c-.94-9.63,6.48-17.45,16.93-17.92,4.88-.22,9.81.28,14.66-.2,8.39-.84,17.07.13,25-4.43,6.18-3.56,9.59-11.51,8.18-18.75-1.66-8.58-7.12-14.06-13-19.18-13.43-11.73-29.28-18.31-45.44-24.21-9.62-3.51-19.26-7-28.7-11-5.76-2.46-9.13-7.17-10-14.27A242.39,242.39,0,0,0,495.69,45a28.07,28.07,0,0,0-5.4-11.39C481.15,22.72,469.28,18,456,20.93,443,23.8,432.33,31,429.25,46.46c-1.57,7.87-3.2,15.77-4,23.75-.74,7.48-3.83,12.64-10,15.8a67.14,67.14,0,0,1-6.56,2.91c-13.51,5.17-27.18,9.92-40.53,15.54-13.07,5.5-25.11,13-34.71,24.39-6,7.12-7.55,16.36-3.88,23.33,4.23,8,11.46,10.06,19.17,10.6,8.9.62,17.85.51,26.77,1.07,11.62.74,21.78,10.23,15.21,25Q384,204,376.77,218.88c-2.36,4.88-5.16,9.52-8,14.75,25.53,9.71,51.71,17.14,72.94,36.3l7.58-12.09c6.06-9.71,20.89-9.89,26.81-.17q15.1,24.76,29.91,49.76c1.29,2.18,2.65,3,5,3,13.12,0,26.25.28,39.38.36C562.35,310.86,574.34,310.8,587.05,310.8ZM247.32,232.08c-1.31-2.43-2.36-4.18-3.24-6-6-12.32-11.92-24.64-17.74-37a22.36,22.36,0,0,1-2-7.23c-1-9.63,6.45-17.47,16.9-17.95,4.88-.22,9.81.28,14.66-.2,8.39-.84,17.07.14,25-4.41,6.2-3.58,9.62-11.5,8.21-18.75-1.66-8.57-7.11-14.06-13-19.19-13.42-11.73-29.27-18.31-45.43-24.21-9.63-3.52-19.27-7-28.71-11.06-5.75-2.45-9.14-7.15-10-14.26A242.39,242.39,0,0,0,187.21,45a28.29,28.29,0,0,0-5.39-11.4c-9.14-10.86-21-15.57-34.29-12.65-13,2.87-23.68,10.1-26.76,25.53-1.57,7.86-3.21,15.77-4,23.75-.74,7.48-3.84,12.63-10,15.8a67,67,0,0,1-6.55,2.91C86.68,94.09,73,98.84,59.66,104.46,46.59,110,34.3,117.28,25,128.93c-7.6,9.56-8.59,18.3-1.77,26.55,4.41,5.35,10.6,7,17,7.33,8.78.47,17.57.59,26.35,1C78.24,164.36,89.25,174,82,189.23c-7.38,15.57-14.67,31.24-23.1,46.15A291.71,291.71,0,0,0,34.06,291.5c-1.84,5.85-2.85,12-4.28,18.19a16.89,16.89,0,0,0,2.39.45c24.86.09,49.71.21,74.57.1,1.39,0,3.25-1.49,4.09-2.86,10.1-16.5,20-33.14,30.06-49.66,6-9.75,20.75-9.63,26.81.07,1.85,3,3.71,5.92,5.81,9.27C195.42,249,221.64,242.06,247.32,232.08Zm102.3-48.88,10.59,26.89,12.18-25.7Zm-87.27.74H244.54c3.19,7.06,6,13.28,8.92,19.76C256.69,196.52,259.55,190.15,262.35,183.94Zm41.54-21.64,9.69,1.13c-1.9-4.72-3.47-8.6-5.15-12.78Z"/>
              </g>
            </g>
          </svg>
        </span>
        <span class="title">募集</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to reserves_path do %>
        <span class="icon">
          <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
            <g>
              <path class="st0" d="M399.79,225.693V67.512c0-37.294-30.226-67.504-67.512-67.512H179.722
                c-37.295,0.008-67.504,30.218-67.504,67.512v158.181L71.54,291.651v47.633v13.038V512h75.955V352.322h217.01V512h75.956V352.322
                v-13.038v-47.633L399.79,225.693z M136.604,67.512c0.008-11.949,4.808-22.654,12.632-30.495
                c7.832-7.824,18.537-12.624,30.486-12.632h152.556c11.957,0.008,22.645,4.808,30.486,12.632
                c7.825,7.841,12.625,18.546,12.64,30.495v152.496h-238.8V67.512z M133.089,238.3h245.829l29.38,47.666H103.702L133.089,238.3z
                M123.109,487.615H95.934V352.322h27.176V487.615z M416.074,487.615h-27.167V352.322h27.167V487.615z M416.074,327.937H95.934
                v-23.678h320.14V327.937z"></path>
            </g>
          </svg>
        </span>
        <span class="title">予約</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to messages_path do %>
        <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
        <span class="title">メッセージ</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to notifications_path do %>
        <span class="icon"><ion-icon name="notifications-outline"></ion-icon></span>
        <span class="title">通知</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to schedule_user_path(current_user) do %>
        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
        <span class="title">スケジュール</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to setting_path do %>
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">設定</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to destory_user_session_path, method: :delete do %>
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="title">ログアウト</span>
      <% end %>
    </li>
  </ul>
</div>